<h1 class="page-header">Greetings!!</h1>

<!--User Details-->
<div id="userDetails">

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1)">{{alert.msg}}</uib-alert>

    <table class="table table-hover">
    <tr>
        <th>Username</th>
        <th>Email</th>
    </tr>
    <tr ng-hide="editorEnabled">
        <!--<td>{{accounts.id }}</td>-->
        <td>{{accounts.fullName }}</td>
        <td>{{accounts.emailAddress}}</td>
        <td><a id="Edit" type="button" ng-show="isLoggedIn" ng-hide="poster" class="btn btn-primary btn-large" ng-click="editorEnabled=!editorEnabled">Edit</a></td>
        <td><a id="followBtn" type="button" ng-show="poster" ng-model="Following" class="btn btn-primary btn-large" ng-click="Follow(accounts.id)">{{state}}</a></td>

    </tr>

    <tr ng-show="editorEnabled">
        <!--<input ng-model="accounts.id">{{accounts.id }}</input>-->
        <td><input id="fullname" ng-model="accounts.fullName"/></td>
        <td><input id="email" ng-model="accounts.emailAddress"/></td>
        <td><a id="Save" type="button" ng-show="isLoggedIn" ng-hide="poster" class="btn btn-primary btn-large" ng-click="saveDetails(accounts.fullName, accounts.emailAddress, accounts.id);editorEnabled=!editorEnabled">Save</a></td>
    </tr>
        <form name="form">
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.msgText.$invalid]">
                <label class="control-label" for="tweet">Post a message</label>
                <div class="controls">
            <tr ng-hide="poster">
            <td><input  id="tweet" name="msgText" required ng-model="msgText" ng-maxlength="40"/></td>
                <span class="help-inline" ng-show="submitted && form.msgText.$error.required">Required</span>
                <span class="help-inline" ng-show="submitted && form.msgText.$error.$viewValue.length || 0">Message Length Error</span>
            <td><a id="postMsg" class="btn btn-primary btn-large" type="button" ng-click="submitted=true; postMessage(msgText)">Tweet</a></td>
        </tr>
                    </div>
                </div>
            </form>
    </table>
</div>

<!--Messages-->
<div id="userMsg">
    <table class="table table-hover">
        <tr>
            <th>{{accounts.fullName }} 's messages</th>
        </tr>
        <tr  ng-repeat="m in messages">
            <td>{{m.msgText}}</td>
        </tr>

    </table>
</div>

    <!--Token & currentUser
    <div>
        {{isLoggedIn}}
        {{ aToken }}
    </div>-->







