<h1 class="page-header">Search</h1>
<form>
    <div class="form-group">
        <label for="searchInput">Search</label>
        <input id="searchInput" class="form-control" placeholder="searchTerm" type="text" name="text" ng-model="text"/>

        <button id="searchBtn" ng-click="searchByTextAndAccHandle()">Search</button>
    </div>
</form>


<div id="searchResults">
    <table class="table table-hover" id="tblSearchResults">
        <tr>
            <th>User</th>
            <th>Message</th>

        </tr>
        <tr ng-repeat="m in messages">
            <td><a href="#/details/{{m.accountHandle}}" class="handle">{{m.accountHandle}}</a></td>
            <td>{{m.msgText}}</td>
        </tr>
    </table>

</div>

<!--Token <div>
    {{ aToken }}
</div> -->