<h1 class="page-header">Search</h1>
    <form>
    <div class="form-group">
        <label for="searchInput">Search</label>
        <input id="searchInput" class="form-control" placeholder="searchTerm" type="text" name="text" ng-model="text"/>
        <button id="searchBtn" ng-click="searchMessages();getMessages(text)">Search</button>
    </div>
    </form>

    <div id="searchResults" >
     <table class="table table-hover">
            <tr>
                <th>User</th>
                <th>Message</th>
            </tr>
            <!--For account Handle-->
            <tr ng-show="results"ng-repeat="r in results">
                <td><a href="#/details/{{text}}" class="handle">{{text}}</a></td>
                <td>{{r.msgText}}</td>
            </tr>
            <tr ng-repeat="m in messages">
                <td><a href="#/details/{{m.accountHandle}}" class="handle">{{m.accountHandle}}</a></td>
                <td>{{m.msgText}}</td>
            </tr>
     </table>

    </div>

<!--<div>
    {{ aToken }}
</div>-->